body {
    font-size: 20px;
    background-color: #ccece6;
    font-family: Georgia;
}

h1 {
    text-align: center;
}

.container {
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
}

.columns {
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.intro {}

.header {
    height: 350px;
}

.icon1 {
    height: 100px;
    width: 50%;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.text {
    height: 100px;
    width: 50%;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 0px;
}

div.icon1 img {
    max-width: 200px;
    justify-content: center;
}

.content-title {
    font-style: italic;
    font-size: 1.5em
}

.content {
    font-size: 0.5em;
}