div.content {
    margin: 2%;
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: #ccece6;
    font-size: 16px;
}

h1 {
    font-size: 2.2em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-variant: small-caps;
}

.headers {
    width: 60%;
    display: table;
    margin: 0 auto;
}

.intro-section {
    width: 70%;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.icon-content {
    width: 50%;
    margin: 0 auto;
    font-size: 12px;
}

div.parent {
    display: flex;
    margin-bottom: 40px;
    background-color: white;
    opacity: 0.7;
    border-radius: 2%;
    border: 1px solid;
}

div.parent .child-icon img {
    max-width: 150px;
    height: auto;
}

div.parent .child-icon {
    flex-basis: 30%;
}

div.parent .child-text {
    flex-basis: 70%;
}

.subhead {
    font-weight: bold;
    font-size: 1.2em;
}

.end {
    width: 70%;
    display: table;
    margin: 0 auto;
    margin-bottom: 40px;
}

footer {
    text-align: center;
    font-size: 10px;
    background-color: #edf8fb;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #efedf5;
    }
}