body {
    font-size: 20px;
    background-color: #ccece6;
    font-family: Georgia;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.bigcontainer {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: block;
}

.header {
    height: 350px;
}

.icon1 {
    height: 100px;
    width: 50%;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.parent1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.parent2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.parent3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.parent4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

div.icon1 img {
    max-width: 200px;
    justify-content: center;
}

.content-title {
    font-style: italic;
    font-size: 1.5em
}

.content {
    font-size: 0.5em;
}