div.content {
    margin: 2%;
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: #ccece6;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.headers {
    width: 60%;
    display: table;
    margin: 0 auto;
}

.intro-section {
    width: 70%;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 12px;
}

.icon-content {
    width: 50%;
    margin: 0 auto;
    font-size: 12px;
}

div.parent {
    display: flex;
    margin-bottom: 20px;
}

div.parent .child-icon img {
    max-width: 150px;
    height: auto;
}

div.parent .child-icon, div.parent .child-text {
    flex-basis: 50%;
}

.end {
    width: 70%;
    display: table;
    margin: 0 auto;
    margin-bottom: 40px;
}

footer {
    text-align: center;
    font-size: 10px;
    background-color: #edf8fb;
}